<div class="terms-modal-wrapper modal-wrapper">
    <div class="modal-title alt-text-color large-text mb-4">Terms & Conditions</div>
    <div class="modal-info mb-5 px-3">
        Main content of the terms and conditions
    </div>
    <div class="modal-info terms-wrapper mb-5">
        <div class="terms">
            <div class="item-no">1</div>
            <p class="item-desc">Checking the change adhfsaidnaoi</p>
        </div>

        <div class="terms">
            <div class="item-no">2</div>
            <p class="item-desc">Para two</p>
        </div>

        <div class="terms">
            <div class="item-no">3</div>
            <div class="item-desc">Para three</div>
        </div>
    </div>
    <ng-container *ngIf="true">
        <button class="btn btn-success mb-4" (click)="activeModal.close(true)">OK, I Agree</button>
    </ng-container>
</div>