<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> select</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Apple</option>
                          <option>Orange</option>
                          <option>Mango</option>
                        </select>
                      </div>
                      <button class="btn btn-success">Select</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-4" *ngFor="let item of data">
            <div class="card">
                <h5 class="card-header">{{item.name}}</h5>
                <div class="card-body">
                    <span>Mid : {{item.mid}}</span><br>
                    <span>DOB : {{item.dob}}</span><br>
                    <span>Father's Occupation : {{item.fathersOccupation}}</span><br>
                    <span>Mother's Occupation : {{item.mothersOccupation}}</span><br>
                    <span>Education : {{item.education}}</span><br>
                    <span>Occupation : {{item.occupation}}</span><br>
                    <span>Company : {{item.company}}</span><br>
                    <span>Class : {{item.class}}</span><br>
                    <span>Salary : {{item.salary}}</span><br>
                    <span>Veedu : {{item.veedu}}</span><br>
                    <span>Siblings : {{item.siblings}}</span><br>
                    <span>Native : {{item.native}}</span><br>
                    <span>LivingLocation : {{item.livingLocation}}</span><br>
                </div>
              </div>
        </div>
    </div>
</div>