<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Select Filter</label>
                        <select class="form-control" (change)="optionChange($event)">
                            <option value="">Select Filter</option>
                          <option value="apple">Apple</option>
                          <option value="orange">Orange</option>
                          <option value="mango">Mango</option>
                        </select>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-4" *ngFor="let item of data">
            <div class="card">
                <h6 class="card-header">{{item.name}}</h6>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6">MID</dt>
                        <dd class="col-sm-6">{{item.mid}}</dd>
                        <dt class="col-sm-6 text-truncate">DOB</dt>
                        <dd class="col-sm-6">{{item.dob}}</dd>
                        <dt class="col-sm-6">Father's Occupation</dt>
                        <dd class="col-sm-6">{{item.fathersOccupation}}</dd>
                        <dt class="col-sm-6">Mother's Occupation</dt>
                        <dd class="col-sm-6">{{item.mothersOccupation}}</dd>
                        <dt class="col-sm-6">Education</dt>
                        <dd class="col-sm-6">{{item.education}}</dd>
                        <dt class="col-sm-6">Occupation</dt>
                        <dd class="col-sm-6">{{item.occupation}}</dd>
                        <dt class="col-sm-6">Company</dt>
                        <dd class="col-sm-6">{{item.company}}</dd>
                        <dt class="col-sm-6">Class</dt>
                        <dd class="col-sm-6">{{item.class}}</dd>
                        <dt class="col-sm-6">Salaray</dt>
                        <dd class="col-sm-6">{{item.salary}}</dd>
                        <dt class="col-sm-6">Veedu</dt>
                        <dd class="col-sm-6">{{item.veedu}}</dd>
                        <dt class="col-sm-6">Siblings</dt>
                        <dd class="col-sm-6">{{item.siblings}}</dd>
                        <dt class="col-sm-6">Native</dt>
                        <dd class="col-sm-6">{{item.native}}</dd>
                        <dt class="col-sm-6">LivingLocation</dt>
                        <dd class="col-sm-6">{{item.livingLocation}}</dd>
                    </dl>
                </div>
              </div>
        </div>
    </div>
</div>
